.float-right {
    float: right;
}
.position {
    position: fixed !important;
}
.modal-properties {
    position: fixed;
    top:30%;
    left:50%;
    transform: translate(-50%);
}
.color {
    color: var(--text-surface);
}