* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Icons, sans-serif !important;
}

:root {
    --primary-color: #FF6939;

    --header-background-color: #222731;
    --text-header: #FFFFFF;

    --background-color: #F1F5F9;
    --surface: #FFFFFF;
    --text-surface: #212121;
    --text-surface-secondary: #BDBDBD;

    --success-color: #9BC53D;
    --success-color-hover: #cde696;
    --error-color: #eb4f33;
    --error-color-hover: #c54a34;

    --yellow: #FDE74C;
    --blue: #5BC0EB;
    --orange: #FA7921;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
}

h3 {
    font-size: 24px !important;
    font-weight: 200 !important;
}

h4 {
    font-size: 20px !important;
    font-weight: 400 !important;
}

h5 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

h6 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.margin {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}