.error-block {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-block-text {
    font-size: 200px;
    margin-bottom: 0;
    height: 210px;
}
.phrase {
    margin-bottom: 40px !important;
}
.error-image {
    width: 600px;
    margin-bottom: -50px;
}