.kickButton {
    color: var(--error-color);
    cursor: pointer;
}

.userKickButton {
    display: flex;
    justify-content: center;
    width: 40px;
}

.kickButton:hover {
    color: var(--error-color-hover);
}

