.buttons {
    float: right;
}

.header {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.holder {
    height: 800px;
}

.holder .middle {
    height: 100%;
}

.inviteCard {
    position: relative;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
}

.inviteCard .content h1 {
    font-size: 50pt;
    display: inline-block;
}

.inviteCard .content h2 {
    display: inline-block;
    font-size: 20pt;
}

.inviteCard .content h2:hover {
    color: var(--text-surface);
}

.createPost {
    position: fixed;
    float: right;
    z-index: 3;
    bottom: 0;
    right: 0;
    size: 20pt;
    margin: 30px !important;
    color: var(--success-color);
    text-shadow: -5px 5px 8px rgba(34, 60, 80, 0.2);
    transition: color 0.2s;
}

.createPost:hover {
    color: #9fd623;
    transition: color 0.2s;
}

.postTab {
    position: relative;
    height: 85vh;
}

table h2 {
    font-size: 16pt;
    margin-bottom: 0;
}

table .kickButton {
    color: red;
}

table .kickButton:hover {
    color: darkred;
}
.groupsList {
    margin-top: 25px;
}
.header-text {
    font-weight: 700;
    font-size: 1.28571429em;
}