header {
    width: 300px;
    background: var(--header-background-color);
    color: var(--text-header);
}

header .logo {
    margin: 30px 0 100px;
    text-align: center;
}

header .logo img {
    width: 100px;
}

header ul li.active {
    color: var(--primary-color);
}

header ul li.active a {
    color: var(--primary-color);
}

header ul li {
    padding: 15px;
}

header ul li i {
    margin: 0 20px !important;
}

header ul li a {
    color: var(--text-header);
}

header ul li a:hover {
    color: var(--primary-color);
}

