html, body {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

#root {
    display: flex;
    height: 100%;

}

main {
    background: var(--background-color);
    width: calc(100% - 300px);
    padding: 20px;
    color: var(--text-surface);
    overflow: auto;
}

.card {
    background-color: var(--surface);
}