table h2 {
    font-size: 16pt;
    margin-bottom: 0;
}

.hidden {
    display: none !important;
}

.userSegmentRow {
    padding: 0 40px;
    min-height: 51px;
}

.userSegment {
    display: flex;
    justify-content: space-between;
}

.userName {
    flex-grow: 1;
}

.userName .fullName {
    margin: 0;
    font-size: 20px;
}

.userName .login {
    margin: 5px 0 0 0;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.userRole {
    width: 110px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.userKick {
    width: 40px;
    margin-left: 30%;
    display: flex;
    align-items: center;
}

.loader {
    width: 100%;
}

@media (max-width: 1100px) {
    .userSegmentRow {
        padding: 0;
    }
    .userKick {
        margin-left: 40px;
        margin-right: 0;
    }
}