table h2 {
    font-size: 16pt;
    margin-bottom: 0;
}

.hidden {
    display: none;
}
.userSegment {
    display: flex;
    justify-content: flex-start;
    height: 100px;
}

.row {
    display: flex;
    flex-direction: column;
}

.contentRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.userName {
    width: 400px;
}

.userRole {
    display: flex;
    justify-content: flex-start;
    margin-left: 300px;
    width: 300px;

}

.userKick {
    margin-right: 50px;
    margin-left: 150px;
}